<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration Form in HTML CSS</title>
    
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container">
      <header>Editar</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Placa</label>
          <input type="text" class="form-control" placeholder="Insertar placa" required />
        </div>

        <div class="input-box">
          <label>Año de frabricacion</label>
          <input type="text" placeholder="Insertar año frabricacion" required />
        </div>
        <div class="input-box">
          <label>Color </label>
          <input type="text" placeholder="Insertar Color" required />
        </div>

          </div>
        </div>
        <div class="input-box address">
          <label>Modelo</label>
          <input type="text" placeholder="Insertar Modelo" required />
          <div class="column">
            <div class="select-box">
              <select>
                <option hidden>Pais de Origen</option>
                <option>America</option>
                <option>Japon</option>
                <option>Europa</option>
              </select>
            </div>
            <input type="text" placeholder="Insertar pais" required />
          </div>
          <div class="column">
            <input type="text" placeholder="Insertar region" required />
            <input type="number" placeholder="Insertar codigo postal" required />
          </div>
        </div>
        <button>Guardar</button>
      </form>
    </section>
  </body>
</html>
