.table_section{
   height: 700px;
   overflow:auto;
   margin-top: 5%;
}

table{
   table-layout: fixed;
   overflow: hidden;
   border-radius: 10px;
   width: 100%;
   color: #ffffff;
   table-layout: fixed;
   border-collapse: collapse;
}

thead th
{
position: sticky;
top: 0;
background-color: #212429;
font-size: 15px;
padding: 10px 20px;
word-break: break-all;
text-align: center;
}
.t{
   color: #ffffff !important;
   align-items: center;
   text-align: center;
   border-left: 1mm solid #ffffff !important;
   text-align: center;
   background-color: #212429!important;
   color:#ffffff;
   border-bottom: #212429!important ;
   word-wrap: break-word;
   }
   tr{
      border-left: transparent !important;
   }


.modal-content{
   background-color: #212429 !important;
}
.modal-header {
   border-bottom: .5mm solid #ffffff !important;
}
.modal-footer{
   border-top: .5mm solid #ffffff !important;
}

 










